@using studyProject.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <div>
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                        @Html.AntiForgeryToken()
                        <h4>Log in</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group row">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2", @autofocus = "autofocus" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2" })
                            <div class="col-md-6">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-md-2 col-md-6">
                                <div class="form-check">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-md-2 col-md-6 ">
                                <input type="submit" value="Log in" class="btn btn-primary" />
                            </div>
                        </div>

                    }
                </section>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
